<%- include('../partials/header'); %>
    <main class="main main-home">
        <h2 class="home-header"> welcome to my Playstation Games page!</h2>
        <img src="/media/playstation.jpg" alt="playstation img" class="img-fluid playstation-img">
    </main>
<%- include('../partials/footer'); %> 