<%- include('../partials/header'); %>
    <main>
        <section class="section">
            <h2>Welcome to the Sakila Home Page</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloribus reiciendis explicabo repellendus praesentium cupiditate laborum sapiente officiis, necessitatibus aliquid fuga nulla in? Odio at in ullam voluptas dicta rerum nemo veritatis obcaecati rem similique voluptatem maxime, beatae, excepturi accusantium dolorem, natus odit ea unde quis earum laudantium officiis recusandae placeat reiciendis? Harum aliquam tempore voluptatum blanditiis laborum ab commodi accusantium quae reiciendis magni quaerat culpa, neque voluptatem ex rerum aut dicta. Fuga commodi asperiores velit cumque corrupti obcaecati facere quasi sed ab, et voluptates eligendi nam a minus enim, beatae eos laudantium dignissimos doloribus! Modi sequi voluptatibus vel nesciunt dolor quaerat! Voluptas, consectetur quibusdam! Qui quo itaque enim incidunt. Recusandae maxime ab quaerat possimus temporibus doloremque culpa maiores voluptatibus! Quae accusantium fuga mollitia reiciendis praesentium minima a doloribus alias voluptate nihil repudiandae libero enim, perspiciatis, autem, delectus voluptates rerum quo itaque esse! Minima repellat voluptatibus quia cumque delectus. Enim.</p>
        </section>
        <section class="section">
            <h3>Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, ipsam? Ea neque quae dicta et! Quam fuga atque assumenda explicabo.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, ipsam? Ea neque quae dicta et! Quam fuga atque assumenda explicabo.</p>
        </section>
        <section class="section">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, magnam. Saepe possimus fugit dolorum in numquam consequatur, quam amet nesciunt accusantium! Eum ab incidunt nam labore! Nisi neque expedita ullam iste, quasi architecto et deserunt unde odio magni ipsam. Id dolore nisi atque delectus officia commodi accusamus impedit saepe minima.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, magnam. Saepe possimus fugit dolorum in numquam consequatur, quam amet nesciunt accusantium! Eum ab incidunt nam labore! Nisi neque expedita ullam iste, quasi architecto et deserunt unde odio magni ipsam. Id dolore nisi atque delectus officia commodi accusamus impedit saepe minima.</p>
        </section>
    </main>
    <%- include('../partials/footer'); %>
