<%- include('../partials/header'); %>

    <main class="main main-home">
        <section class="section">
            <h2 class="main-header">Lorem ipsum dolor sit.</h2>
            <p class="main-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus recusandae mollitia libero, inventore quisquam iste quibusdam aliquid quis ea atque veritatis reiciendis ullam deserunt expedita placeat rerum voluptate consequuntur nulla error accusantium ipsam perspiciatis a. Nostrum porro inventore earum quod facere sint neque, quibusdam nulla quos animi laboriosam excepturi vero repudiandae sequi non? Itaque architecto quo animi temporibus accusantium saepe quae iste accusamus aperiam amet, perferendis repellat provident nobis nemo alias maxime blanditiis est. Expedita.</p>
            <div class="image-div">
                <img src="https://via.placeholder.com/200x150" alt="placeholder img" class="img-fluid">
            </div>
        </section>
        <section class="section">
            <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis in cum autem minus nesciunt necessitatibus facere mollitia repudiandae! Deserunt fuga, suscipit repudiandae enim rem ipsa est atque unde numquam voluptatem exercitationem doloribus reprehenderit consequatur expedita voluptate aspernatur consequuntur accusantium odio, iure incidunt iusto eveniet. Quas cum iure corporis explicabo non, excepturi minus tempora doloremque aut debitis maiores consequatur laborum necessitatibus voluptates unde libero. Corporis quis recusandae repellat impedit, error magni asperiores? Facilis molestias voluptatibus quisquam!</p>
        </section>
    </main>
    <%- include('../partials/footer');  %> 
</body>

</html>