<%- include('../partials/header'); %>
    <main class="main main-home">
        <h2 class="home-header"> welcome to my recipes page!</h2>
        <img src="/media/recipes.gif" alt="recipes image" class="img-fluid recipes-img">
    </main>
<%- include('../partials/footer'); %> 
