<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>


<body>
    <header class="header" id="top">
        <h1>
            <%= name %>
        </h1>
        <ul>
            <li class="header-item"><a href="/home">Home</a> </li>
            <li class="header-item"><a href="/actor">Actors</a> </li>
            <li class="header-item"><a href="/film">Films</a> </li>
            <li class="header-item"><a href="/customer">Customer</a> </li>
            <li class="header-item"><a href="/rental">Rental</a> </li>
            
        </ul>
    </header>