<%- include('../partials/header');  %> 
    <main class="main main-home">
        <h2 class="home-header">welcome to my  dramas page!</h2>
        <img src="/media/drama.jpg" class="img-fluid drama-img">
    </main>

<%- include('../partials/footer');  %>     
