<%- include('../partials/header');  %> 
    <main class="main main-home">
        <h2 class="home-header">welcome to my  avatar episodes page!</h2>
        <img src="/media/avatar-gif.gif" class="img-fluid avatar-img" >
    </main>

    <footer class="footer footer-home">
        <p class="colophon text-center">site by colin&copy;2022</p>
        <p class="top-link text-center">Back to <a href="#header text-center">Top</a></p>
    </footer>

