<%- include('../partials/header');  %> 
    <main class="main main-home">
        <h2 class="home-header">welcome to my  baseball page!</h2>
        <img src="/media/baseball.gif" class="img-fluid baseball-img" >
    </main>

    <footer class="footer footer-home">
        <p class="colophon text-center">site by colin&copy;2022</p>
        <p class="top-link text-center">Back to <a href="#header">Top</a></p>
    </footer>
