<%- include('../partials/header')  %> 

<main class="main main-actor-single container">
    <section class="section section-actor-single">
        <figure class="figure actor-single-figure">
            <img src="https:/via.placeholder.com/450x550" alt="placeholder img" class="img-fluid">
            <figcaption class="actor-single-figcap">
                <%= name  %> 
            </figcaption>
        </figure>
    </section>
</main>

<%- include('../partials/footer');  %> 