<%- include('../partials/header');  %> 

<main class="main main-film container">
    <section class="section section-film">
        <div class="row">
            <% data.forEach(item => { %>
                <div class="item-div col-md-3">
                    <h2 class="item-h2">
                        <a href="/film/<%= item.film_id  %>">
                        <%= item.title  %> 
                        </a>
                    </h2>
                    <img src="https://via.placeholder.com/200x250" alt="placeholder img" class="img-fluid">
                </div>
                <% }) %> 
        </div>
    </section>
</main>

<%- include('../partials/footer');  %> 