<%- include('../partials/header'); %>
<main class="main main-home container">
    <section class="section section1">
        <h2 class="header-h2">
            Lorem, ipsum dolor.
        </h2>
        <div class="content-div row">
            <div class="sec1-div col-md-6">
                <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi tenetur sunt at repudiandae atque quia error voluptatibus dignissimos voluptatum perferendis modi pariatur nemo placeat magni laudantium aspernatur natus, voluptatem non deserunt, tempore asperiores facilis nostrum? Fugit fuga harum quaerat beatae voluptatem rerum minima quae perferendis obcaecati! Accusantium temporibus at debitis.</p>
            </div>
            <div class="sec2-div">
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, veniam eaque. Natus culpa incidunt nostrum enim tempora omnis reiciendis temporibus ratione! Vero quam vitae quaerat magni repudiandae tenetur, ut, earum iste harum, doloribus tempora consectetur eligendi amet? Libero iusto sed est, aut sit dolorum quod repudiandae quos perspiciatis magni quia sapiente obcaecati ipsum placeat fugiat necessitatibus possimus itaque beatae in architecto, quam at atque error delectus. Ex amet sunt voluptate.</p>
            </div>
        </div>
    </section>
    <section class="section section2">
        <h2 class="header-h2">Lorem ipsum dolor sit amet.</h2>
        <div class="content-div">
            <figure class="figure">
                <img src="tttps://via.placeholder.com" alt="">
            </figure>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>
