<%- include('../partials/header'); %>
    <main class="main main-home">
        <h2 class="home-header"> welcome to my xboxgames page!</h2>
        <img src="/media/xbox.gif" alt="xbox-logo" class="img-fluid xbox-img">
    </main>
<%- include('../partials/footer'); %> 
